# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Environment & Secrets (Do not push API keys to public repos)
.env

# Database Data
data/*.db
data/chroma_db/

# Build files
dist/
build/
.DS_Store
